<!doctype html>
<html>
<head>
	<title>Name to cool factor!</title>
</head>
<body>
	<strong>Hello enter in a name and ill give a rating of how cool the name is!</strong>
  <form action="/" method="GET">
    <label for="enter">Enter a name:</label>
    <input id="enter" type="text" name="name" placeholder="daniel"/><br/>
    <input type="submit" value="GO!"/>
  </form>
</body>
</html>
